<% content_for :title, "Clients" %>

<div class="w-full">
  <% if notice.present? %>
    <%= render "shared/flash" %>
  <% end %>

  <%= render_grid(
    @clients,
    {
      nome: { label: 'Nome' },
      apelido: { label: 'Apelido' },
      fone1: { label: 'Telefone' },
      celular: { label: 'Celular' },
      cidade: { label: 'Cidade' },
      status: { 
        label: 'Status',
        format: ->(status) { status == "ativo" ? '<div class="flex justify-center"><i class="fas fa-check text-green-500"></i></div>'.html_safe : '<div class="flex justify-center"><i class="fas fa-times text-red-500"></i></div>'.html_safe }
      },
    },
    {
      title: "Clientes",
      new_button: true,
      edit_button: true,
      delete_button: true,
      search: true,
      per_page: 20
    }
  ) %>
</div>
