<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark p-4">
    <h2 class="text-2xl font-bold mb-4">Bem-vindo ao Admin Rodoban</h2>
    
    <%= link_to "Ir para página de teste", test_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
