<div id="<%= dom_id city %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo ibge,:</strong>
    <%= city.codigo_ibge %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade,:</strong>
    <%= city.cidade %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Uf:</strong>
    <%= city.uf %>
  </p>
</div>
